html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    position: relative;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.2s;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    transition: 0.5s;
    transform: rotate(360deg);
}
.non-clickable {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.deck-content {
    position: relative;
}
.final-score {
    top: 0;
    left: 0;
    width: 100%;
    height: 93.6%;
    position: absolute;
    padding-top: 22%;
    border-radius: 10px;
    background: #fcfcfc;
    border: 3px solid #eee;
    text-align: center;
    transform: rotateX(90deg);
    transition: 0.2s;
}
.final-score.final-score-show {
    transform: rotateX(0deg);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.stopwatch {
    padding: 30px;
}

.replay {
    padding: 12px 20px;
    background-color: transparent;
    border: transparent;
    border-radius: 4px;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-top: 5%
}

.replay::before {
    content: "";
    position: absolute;
    width: 160%;
    height: 100%;
    background-color: transparent;
    left: 0;
    top: 0;
    color: #fff;
    z-index: -1;
    transform: translateX(-100%);
    border-right: 50px solid transparent;
    border-bottom: 80px solid #02ccba;
    transition: 0.5s;
    overflow: hidden;
    
}

.replay:hover {
    color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.replay:hover:before {
    transform: translateX(0%);
}